html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ================ start  */

body {
    background-color: #0d1a1b;
    color: white;
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
}

.nav_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_logo>i {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.nav_logo>h1 {
    font-size: 1.7rem;
    font-weight: 600;
}

.nav_ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
}

.nav_ul>li>a {
    text-decoration: none;
    color: #7e8384;
}

.nav_tools {
    display: flex;
}

.nav_tools>li.search_tools {
    position: relative;
}

.nav_tools>li>.search {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav_tools>li>.search::after {
    content: "";
    border-right: 1px solid #7e8384;
    margin: 0 1.5rem;
}

.dropdown-content {
    position: absolute;
    top: 2rem;
    background-color: rgb(73, 73, 73);
    padding: 1rem;
    width: max-content;
    transform: translateX(-1.15rem);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
}

.dropdown-content-on {
    visibility: visible;
    opacity: 1;
}

.dropdown-content>.lang {
    margin-bottom: 0.5rem;
}

.dropdown-content>.lang:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.lang {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;
}

.lang>img {
    width: 30px;
    height: 20px;
    object-fit: cover;
}

.navbar_collapse {
    display: none;
}

@media (max-width: 950px) {

    .nav_ul,
    .nav_tools {
        display: none;
    }

    .navbar_collapse {
        display: block;
    }

    body {
        overflow-x: hidden;
    }
}

.nav_modal {
    width: 250px;
    height: max-content;
    background-color: aliceblue;
    position: absolute;
    top: 0;
    right: 100vw;
    transform: translateX(500%);
    transition: 1s;
}

.nav_modal>ul>li>a {
    text-decoration: none;
}

.nav_modal>ul>li {
    margin: 2rem 0;
}

.nav_modal>ul {
    /* width: 100%; */
}

.slideIn {
    transform: translateX(0);
}